/*html {
  font-size: calc(1em + 1vw)
}*/

body {
  margin: 0;
  padding: 0;
  text-align: center;
  color: white;
  /*background-color: #f2f2f2;*/
  background: url(https://images.pexels.com/photos/5876/food-salad-healthy-vegetables.jpg?auto=compress&amp;cs=tinysrgb&amp;h=650&amp;w=940)
}

.container{
  display: flexbox;
  flex-direction: column;
  box-align: center;
  flex-align: flex-start;
  justify-content: center;
  max-width: 100vw;
  min-height: 100vh;
  justify-content: space-between;

}
.banner{
	position: -webkit-sticky;
   position: sticky;
   top: 0;
   background-color: #333;
 //max-width:70%;
   margin-left: 10em;
   margin-right: 10em;
   border-radius: 4px;

}

#description {
padding-bottom: 0.5em;
//border: solid;
//border-color: white;
}

.outer-wrap {
  margin: 10px;
  padding: 5px;
  border: solid;
  border-color: black;
  background-color: #333;// rgb(250, 250, 250);
  margin: 0 auto;
  border-radius: 4px;
  //width: 55%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 60%;
}

#survey-form {
  flex-direction: column;
  justify-content: space-between;
  //border:solid;
  //border-color: red;
  margin: 10px;
  padding: 5px;

}
.formRow {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-bottom: 1px solid green;
  //border-color: green;
  margin: 10px;
  padding: 5px;
}
.formLeft {
  //border: solid;
  //border-color: blue;
  margin: 1px;
  width: 40%;
}
.formRight {
  //border: solid;
  //border-color: blue;
  margin: 1px;width: 50%;
  width: 40%;
}
.return-visit {
    vertical-align: middle;
    text-align:justify;
    padding-left: 30%;
    }


.checkboxlabel{
width: 100%;
    vertical-align: middle;
    text-align:justify;
    padding-left: 30%;
    }

.textRight {
  //border: solid;
  //border-color: red;
  margin: 1px;
  width: 80%;
  padding: 1px;
}


#feedback {
width: 80%;
margin: 1em;
padding: 1em;
}
@media (max-width: 800px) {
  .formRow {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-bottom: 1px solid green;
    //border-color: green;
    margin: 5px;
    padding: 2px;
    text-align:left;
  }

  .formLeft {
    display:flex;
  flex-direction: row;
  text-align:left;
  margin: 0;
  padding: 0;
  }

  .formRight .input-field{
    width: 250%;
  }

  .banner {
    position: static;
}
}
@media (max-width: 780px) {
  .formRow {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-bottom: 1px solid green;
    //border-color: green;
    margin: 5px;
    padding: 2px;
    text-align:left;
  }

  #title {
    word-wrap: break-word
  }
  #description {
    word-wrap: break-word
  }

  .formLeft {
    display:flex;
  flex-direction: row;
  text-align:left;
  margin: 0;
  padding: 0;
  font-size:4vw;
  }

  .formRight .input-field{
    width: 250%;
  }

  .formRight .dropdown {
    width: 250%;
    padding-right: 2em;
  }

  .checkboxlabel {
    font-size:3vw;
  }

  .outer-wrap {
    width:auto;
  }

  .banner {
    position: static;
    width: auto;
    height:auto;
    font-size: 60%;
}
}
